*{

    margin: 0;
    padding: 0;
    font-family:'Crimson';
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
/*header*/


/* CSS */
/* CSS */

  
  

/*Barra de navegación */

.navbar {

    padding: 2rem;
    background-color: white;
    margin-right: 2rem ;
    margin-left: 2rem;
  

}

.navbar-collapse{

    align-items: center;
    justify-content: space-between;
    font-family:'Crimson';
    font-size: 1.3rem;

}


/*FOOTER*/




footer{

    font-family:'Crimson';
    font-size: 1rem;
}

/*adaptable responsivo*/
@media screen and (max-width: 767px){

    .navbar-brand{
        display: none;
    }
}

/*Letra*/

@font-face {
    font-family: 'Crimson';
    src: url(/fonts/Fuentes/CRIMSON/OTF/Crimson-Bold.otf);
}

/*fondo*/

.primero{

    width: 100%; 
    height: 700px; 
    background-image: url("../img/Fotografias/bebe\ feliz.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;

 


}

.text{
  flex: 1;
  color: white;
font-size: 1.8rem;
margin: 0;
padding: 100px;

}

/* reponsivo */
@media (max-width: 768px) {
  .primero {
      height: 200px; /* Ajusta la altura según tus necesidades */
  }
}




/*sobre nosotros */
.sobre-nosotros {
  background-image: url("../img/Fotografias/toystoyr1.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.containe {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.sobre-nosotros-box {
  background-color: rgba(255, 255, 255, 0.753);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  width: 30%;
  cursor: pointer;
}

.sobre-nosotros-box:hover {
  transform: scale(1.05);
}

#mision {
  background-color: rgba(255, 255, 255, 0.7); /* Cambia el color de fondo para Misión */
  color: #000000; /* Cambia el color del texto para Misión a blanco */
}

#vision {
  background-color: rgba(255, 255, 255, 0.7); /* Cambia el color de fondo para Visión */
  color: #000000; /* Cambia el color del texto para Visión a blanco */
}

#sobre-la-pagina {
  background-color: rgba(255, 255, 255, 0.7); /* Cambia el color de fondo para Sobre la Página */
  color: #000000; /* Cambia el color del texto para Sobre la Página a blanco */
}


/*fin sobre nosotros */


/*Reviw*/

.reviews{
margin-left: 3rem;
margin-right: 3rem;
}
.testimonials {
    margin: 0 -10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .testimonial {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    transition: background-color 0.5s, color 0.5s; /* Agrega una transición suave */
  }
  .testimonial:hover {
    background: #313131; /* Cambia el fondo al pasar el cursor */
    color: #fff; /* Cambia el color del texto al pasar el cursor */
  }
  .testimonial img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 200px; /* Tamaño fijo para las imágenes */
    height: 200px; /* Tamaño fijo para las imágenes */
  }
  
  .testimonial p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .testimonial img,
  .testimonial p {
    padding: 0 10px;
  }
  
  /*preguntas y respuestas */

  /* Estilos para la sección de preguntas frecuentes */
.faq {
    background-color: #e2e2e2;
    padding: 40px 0;
    text-align: center;
  }
  
  .faq h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los acordeones */
  .accordion-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: left;
    font-weight: bold;
  }
  /* CSS para cambiar el color de fondo del botón */

  
  .accordion-button:hover {
    background-color: #c7c7c7;
  }
  
  .accordion-collapse {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 20px;
  }
  
  .accordion-body {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Cambio de icono al expandir y colapsar */
  .accordion-button::after {
    content: "+";
  }
  
  .accordion-button[aria-expanded="true"]::after {
    content: "-";
  }
  

  /* Estilos para el formulario de Reservaciones (usando clases de Bootstrap) */
.reservations {
    background-color: #cccccc;
    padding: 40px 0;
    text-align: center;
  }
  
  .reservations h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  /* Cambio de color del botón de envío */
  .btn-primary {
    background-color: #333;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #555;
  }



 /* Estilos para el contenedor del portafolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para la lista de proyectos */
.portfolio-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Estilos para los elementos del portafolio (proyectos) */
.portfolio-item {
  overflow: hidden;
    border: 2px solid #ccc;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho del contenedor */
    max-width: 500px; /* Limita el ancho máximo para pantallas grandes */
    margin: 0 20px; /* Agrega margen horizontal entre los elementos */
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Efecto de realce al pasar el cursor */
.portfolio-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Elimina el margen derecho del último elemento en la lista de proyectos */
.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-title {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Crimson';
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Estilo inicial para ocultar el lightbox */
.portfolio-image-expanded {
  display: none;
}

.porta {
  background-color: #ececec;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

/* Media query para dispositivos móviles (por ejemplo, celulares) */
@media (max-width: 768px) {
  .portfolio-list {
      flex-direction: column; /* Cambia la dirección de la lista para mostrar los elementos uno debajo del otro */
  }
}


  
/*CARRUSEL */

.scope {
  position: relative;
  margin-left: 600px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: slid 30s linear infinite;
}

.scope span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: lcenter;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}
.scope span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
}
.scope span:hover img {
  transform: translateY(-50px) scale(1.7);
}
@keyframes slid {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
